name: Test Nix

on:
  workflow_call:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os: darwin
            cpu: x86_64
            base: macos-15-intel # always x86_64-darwin
            nix-installer:
              platform: x86_64-darwin
          - os: darwin
            cpu: arm64
            base: macos-15 # always arm64-darwin
            nix-installer:
              platform: aarch64-darwin
          - os: linux
            cpu: x86_64
            base: ubuntu-24.04 # always x86_64-linux-gnu
            nix-installer:
              platform: x86_64-linux
          - os: linux
            cpu: aarch64
            base: arm-4core-linux-ubuntu24.04 # always aarch64-linux-gnu
            nix-installer:
              platform: aarch64-linux

    name: Test Nix (${{ matrix.platform.cpu }}-${{ matrix.platform.os }})
    runs-on: ${{ matrix.platform.base }}

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Check CPU arch
        run: |
          test "$(uname -m)" = "${{ matrix.platform.cpu }}"
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a
        with:
          source-url: https://github.com/DeterminateSystems/nix-installer/releases/download/v0.30.0/nix-installer-${{ matrix.platform.nix-installer.platform }}
      - name: Print Nix version
        run: |
          nix --version
      - name: Print ruby version
        run: |
          nix develop --command which ruby
          nix develop --command ruby --version
      - name: Bundle install
        run: nix develop --command bundle install
      - name: Run tests
        run: nix develop --command bundle exec rake docker:list
